* {
    font-family: Ubuntu, sans-serif;
}
body {
    margin: 0;
    background-color: #ededed;
}

#menu {
    z-index: 20;
    position: relative;
}
#menu ul {
    margin: 0;
    padding: 0;
}
#menu > ul {
    border-bottom: 2px solid #c9c9c9;
    background-color: white;
}
#menu ul li {
    display: inline-block;
    list-style: none;
    position: relative;
}
#menu ul li a:focus,
#menu ul li a:visited,
#menu ul li a:active,
#menu ul li a {
    text-decoration: none;
    color: #696969;
    padding: 18px 28px;
    font-size: 20px;
    line-height: 24px;
    background-color: white;
    border-right: 1px solid #ededed;
    display: block;
}
#menu ul li a.submenu.active,
#menu ul li a:hover {
    color: #1b3557;
    border-bottom: 3px solid #1b3557;
    padding-bottom: 15px;
    text-shadow: 1px 0 0 #1b3557;
}
#menu ul li a.submenu {
    position: relative;
    padding-right: 34px;
}
#menu ul li a.submenu.showMoreMenuLink {
    padding-right: 24px;
    padding-left: 34px;
}
#menu ul li a.submenu.showMoreMenuLink::before {
    content: url("./../img/less.png");
    position: absolute;
    top: 22px;
    left: 10px;
}
#menu ul li a.submenu.showMoreMenuLink.active::before {
    content: url("./../img/more.png");
    top: 20px;
}
#menu ul li a.submenu:not(.showMoreMenuLink)::after {
    content: '^';
    position: absolute;
    right: 12px;
    top: 22px;
}
#menu ul li a.submenu.active:not(.showMoreMenuLink)::after {
    transform: rotate(180deg);
    top: 18px;
}
#menu ul li a.submenu + ul,
#menu ul li.showMoreMenuLi a.submenu + ul li a.submenu + ul {
    display: none;
}
#menu ul li a.submenu.active + ul {
    display: block;
    position: absolute;
    top: 62px;
    left: 0;
    animation: fadein 1s;
}
#menu ul li a.submenu.active + ul.fadeout {
    animation: fadeout 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
#menu ul li.showMoreMenuLi a.submenu.active + ul li a.submenu.active + ul {
    position: relative;
    top: unset;
    left: unset;
    display: inline-block;
}
#menu ul li.showMoreMenuLi a.submenu.active + ul li a.submenu.active + ul a {
    background-color: #f9f9f9;
}
#menu ul li a.submenu.active + ul li {
    display: block;
    white-space: nowrap;
}
#menu ul li.showMoreMenuLi {
    position: relative;
}
#backdrop {
    display: none;
}
@media (max-width: 765px) {
    #menu ul li.showMoreMenuLi {
        position: unset;
    }
    #menu ul li.showMoreMenuLi a.submenu.active + ul {
        background-color: white;
        position: fixed;
        bottom: 0;
    }
    #backdrop.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.75);
        z-index: 10;
    }
    #menu ul li a.submenu.active + ul {
        animation: none;
    }
}

